body {
    font-family: 'Inter';
    font-style: normal;
    background: #247561;  
    display: flex;
    align-items: center;
    justify-content: center;

    header {
        width: 100%;

        
    }

    main {
        margin-top: 17px;
    }

}


.cellphone {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 884px;
    width: 390px;
    background: #FFFFFF;
    border-radius: 40px;

    span {
        width: 95%;
        height: 1px;
        margin: 25px 0 7.5px 0;
        position: relative;
        right: 10px;
        background: #AFADAD;
    }
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 68px 42px 10px 62px;

    h2 {
        font-size: 14px;
        font-weight: 800;
    }
    h3 {
        font-size: 12px;
        font-weight: 700;
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
    input {
        width: 243px;
        height: 45px;
        border: 1.5px solid #D9D9D9;
        border-radius: 4px;
    }

    .button_search {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        width: 45px;
        height: 40px;
    
        background: #000;
        border-radius: 8px;
    
        img {
            width: 25px;
            height: 25px;
        }
    }
}

.choose_brand {

    ul {
        display: flex;
        gap: 25px;
    }

    button {
        padding: 10px 5px;
        height: 32px;
        min-width: 55px ;
        
        border: 1px solid #D9D9D9;
        border-radius: 12px 13px;
        background: none;
        color: #AFADAD;
        cursor: pointer;

        font-size: 10px;
        font-weight: 600;
    }
}

.shoes-list {
    margin-top: 17px;

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        
    }

    li {
        display: flex;
        flex-direction: column;

        .img-shoes {
            width: 142px;
            height: 184px;
            border-radius: 16px;
            margin-bottom: 23px;
    
            background: rgba(211, 211, 211, 0.6);
            cursor: pointer;
    
            img {
                width: 134px;
                margin: 72px 0 0 4px;
            }
        }

        p {
            font-size: 10px;
            color: #000;
            padding: 0 0 0 20px;
            cursor: pointer;

            &:first-of-type {
                font-weight: 500;
                margin-bottom: 4px;
            }

            &:last-of-type {
                font-weight: 700;
            }
        }  
    }

    

    
}



footer {
        ul {
            display: flex;
            gap: 48px;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                    width: 25px;
                    height: 25px;
                }

                p {
                    font-size: 10px;
                    color: #999999
                }
            }
        }
}